ckanext-datarequests>=1.1.0,<2.0.0
pylons==1.0.3

-e git+ssh://git@github.com/OpenGov-OpenData/ckanext-odata@0.1#egg=ckanext-odata
-e git+ssh://git@github.com/geosolutions-it/ckanext-tableauview@0.0.1#egg=ckanext-tableauview
-e .
