.categories {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.categories li {
  display: inline-block;
  width: 12%;
  text-align: center;
}

@media(max-width: 992px) {
  .categories li {
    width: 24%;
  }
}

.categories li a {
  display: block;
  color: #fff;  
  padding-bottom: 10px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.categories li a:hover,
.categories li a:active {
  background-color: #FFDE17;
  text-decoration: none;
  color: #000;
  text-decoration: none;
}

.categories li a .image-wrapper {
  padding: 20px 20px 5px 20px;  
}

.categories li a:hover .image-wrapper img {
  filter: invert(1);
}
