@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #fff;
}

[role=main],
.main {
  background-image: none;
  background-color: #fff;
}

#content {
  background-color: #fff;
  position: relative;
}

h1 {
  color: #21409A;
}

h2 {
  color: #21409A;
}

.clearAll::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  color:red;
}