@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
	font-family: 'Titillium Web', sans-serif;
	background-color: #fff;
}

[role=main],
.main {
	background-image: none;
	background-color: #fff;
}

[role=main] .primary {
	float: left;
}

@media (max-width: 767px)
{
	.toolbar .breadcrumb a {
		color: #505050;
	}

	[role=main] .primary {
		float: none;
	}
}

@media (max-width: 991px) {
	.masthead .navigation .nav-pills li a {
		padding-left: 25px !important;
	}
}

#content {
	background-color: #fff;
	position: relative;
}

h1 {
	color: #21409A;
}

h2 {
	color: #21409A;
}

.clear-all::after {
	content: " ";
	display: block;
	clear: both;
}


.btn-primary {
	background-color: #27AE60;
	border-radius:0;
	padding: 10px 20px;
	border: 1px solid #27AE60;
	text-transform: uppercase;
}

.btn-primary:hover{
	background-color: #27AE60;
	border: 1px solid #27AE60;
}

.label[data-format="csv"] {
	background-color: rgba(39, 174, 96, 0.6);
}

.label[data-format="xml"] {
	background-color: rgba(88, 153, 218, 0.6);
}

.label[data-format="json"] {
	background-color: rgba(232, 116, 59, 0.6);
}

.label[data-format="xhtml"] {
	background-color: rgba(237, 74, 123, 0.6);
}

.label[data-format="xls"] {
	background-color: rgba(148, 94, 207, 0.6);
}

.label[data-format="pdf"] {
	background-color: rgba(19, 164, 180, 0.6);
}

.label[data-format="rss"] {
	background-color: rgba(82, 93, 244, 0.6);
}

.label[data-format="txt"] {
	background-color: rgba(191, 57, 158, 0.6);
}

.label[data-format="xms"] {
	background-color: rgba(238, 104, 104, 0.6);
}
