@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
  font-family: 'Titillium Web', sans-serif;
}

#content {
  background-color: #fff;
  position: relative;
}

h1 {
  color: #21409A;
}

h2 {
  color: #21409A;
}
