.site-footer {
	background-color: #000;

}

	.site-footer .attribution {
		text-align: right;
	}

		#newsletterForm {
			margin-bottom: 40px;
			text-align: left;
			width: 240px;
			float: right;
		}

		@media (max-width: 767px) {
			#newsletterForm {
				width: 100%;
				float: none;
				margin-top: 10px;
			}
		}

			#newsletterForm label {
				display: block;
				font-weight: 600;
				font-size: 18px;
				color: #fff;
			}

			#newsletterForm input {
				width: 100%;
				line-height: 35px;
				font-size: 12px;
				padding: 5px;
				color: #000;
			}

		#copyDesc {
			white-space: nowrap;
			float: right;
		}

		@media (max-width: 767px) {
			#copyDesc {
				white-space: normal;
				width: 200px;
			}
		}

	.site-footer .logo {
		text-align: center;
	}

	@media (max-width: 767px) {
		.site-footer .logo {
			display: none;
		}
	}

		.site-footer .logo img {
			max-height: none;
			width: 200px;
		}


	#code_4_logo {
		width: 125px;
		margin: 10px;
	}

	.site-footer .copyright {
		font-size: 14px;
	}
