#contactForm {
	padding: 30px;
}

	#contactForm h2 {
		font-size: 20px;
		font-weight: bold;
	}

	#contactForm input,
	#contactForm textarea {
		display: block;
		width: 100%;
		border: 1px solid #c4c4c4;
		padding: 5px 10px;
		background-color: #FCFCFC;
		border-radius: 4px;
	}

	#contactForm input {
		margin-bottom: 15px;
	}

	#contactForm textarea {
		resize: vertical;
		margin-bottom: 10px;
		min-height: 160px;
	}

	#contactForm input[type=submit] {
		background-color: #58B558;
		color: #fff;
		border-radius: 0;
	}
