{% extends "page.html" %}

{% block subtitle %}{{ _('Standarde de date') }}{% endblock %}

{% block styles %}
	{{ super() }}
	{% resource 'dataportaltheme/dataStas.css' %}
{% endblock %}


{% block breadcrumb_content %}
	<li class="active">{% link_for _('Standarde de date'), named_route="stas-date-esentiale" %}</li>
{% endblock %}

{% block primary %}
	<h1>Ghidul calității datelor pentru datele tabulare</h1>

	<p id="antet">
		Toate seturile de date trebuie să îndeplinească aceste cerințe de calitate a datelor înainte de publicarea lor pe dataportal.ro.
	</p>

	<ul id="innerNav">
		<li>{% link_for _('Principii esențiale'), named_route="stas-date-esentiale" %}</li>
		<li class="active">{% link_for _('Structura pentru datele tabulare'), named_route="stas-date-struct" %}</li>
		<li>{% link_for _('Alte resurse'), named_route="stas-date-esentiale" %}</li>
	</ul>

	<h3>1. Capetele coloanei</h3>
	<ul>
		<li>Numai caractere alfanumerice sau aceste trei caractere speciale: <code>.-_</code></li>
		<li class="hasChild"><ul><li>Ampersand (&) ar trebui înlocuită cu „și” dacă este necesar</li></ul></li>
		<li>Fiecare trebuie să fie unic</li>
		<li class="hasChild"><ul><li>Nu putem avea două capete numite „durată”</li></ul></li>
		<li>Toate capetele au caractere minuscule</li>
		<li class="hasChild"><ul><li>de ex. „rating”</li></ul></li>
		<li>În cazul în care capul conține mai multe cuvinte, utilizați simbolul liniuță jos pentru a le uni</li>
		<li class="hasChild"><ul><li>de ex. vehicle_type (tip_vehicul)</li></ul></li>
		<li>Unitățile de măsură ar trebui să fie omise</li>
		<li>Scrieți pe scurt (sub 25 de caractere)</li>
		<li class="hasChild"><ul><li>Numele complet poate fi stocat în partea de schemă a fișierului de metadate</li></ul></li>
	</ul>

	<h3>2. Ordinea coloanelor</h3>
	<ul>
		<li>Variabilele de dată și de timp ar trebui să fie întotdeauna în prima coloană pentru datele din serii de timp</li>
		<li>Variabilele fixe ar trebui să fie ordonate cu variabila de cel mai înalt nivel în stânga și cea mai granulară variabilă în dreapta</li>
		<li>Variabilele observate ar trebui să fie întotdeauna pe ultimele coloane din dreapta</li>
	</ul>

	<h3>3. Ordinea rândurilor</h3>
	<ul>
		<li>Rândurile ar trebui ordonate de la ultima coloană din stânga la ultima din dreapta</li>
		<li>Pentru variabilele de dată și oră, ordonați cronologic</li>
		<li>Pentru variabilele fixe, ordonați în ordine alfabetică</li>
	</ul>

	<h3>4. Variabilele de dată și oră</h3>
	<ul>
		<li>Pe baza ISO8601, un standard internațional pentru reprezentarea datei și orei. Am ales „formatul extins” cu cratimele, deoarece este mult mai ușor de citit de oameni.</li>
		<li>Comparați 2016-01-01 cu 20160101</li>
		<li>Toate variabilele de dată și oră trebuie să fie în UTC  +8 ore, dacă nu este specificat altfel.</li>
		<li>Variabile de dată:</li>
	</ul>

	<table>
		<thead>
			<tr>
				<th>Interval</th>
				<th>Numele coloanei</th>
				<th>Format</th>
				<th>Intervalul de valori</th>
				<th>Exemplu</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Anual</td>
				<td>year</td>
				<td>AAAA</td>
				<td>AAAA: începând cu 1900</td>
				<td>2015</td>
			</tr>

			<tr>
				<td>Lunar</td>
				<td>month</td>
				<td>AAAA-LL</td>
				<td>LL: de la 01 la 12</td>
				<td>2015-01</td>
			</tr>

			<tr>
				<td>Zilnic</td>
				<td>date</td>
				<td>AAAA-LL-ZZ</td>
				<td>ZZ: de la 01 la 31</td>
				<td>2015-01-01</td>
			</tr>

			<tr>
				<td>Săptămânal</td>
				<td>week</td>
				<td>AAAA-[S]SS</td>
				<td>[S]SS: de la S01 la S52</td>
				<td>2015-S01</td>
			</tr>

			<tr>
				<td>Trimestrial</td>
				<td>quarter</td>
				<td>AAAA-[T]T</td>
				<td>[T]T: de la T1 la T4</td>
				<td>2015-T1</td>
			</tr>

			<tr>
				<td>Semestrial</td>
				<td>half_year</td>
				<td>AAAA-[Se]Se</td>
				<td>[Se]Se: de la Se1 la Se2</td>
				<td>2015-Se1</td>
			</tr>
		</tbody>
	</table>

	<ul>
		<li>Pentru perioadele financiare, introduceți prefixul „financiar_” la numele coloanei</li>
	</ul>

	<table>
		<thead>
			<tr>
				<th>Interval</th>
				<th>Numele coloanei</th>
				<th>Format</th>
				<th>Exemplu</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Financiar, anual</td>
				<td>financial_year</td>
				<td>AAAA</td>
				<td>2015</td>
			</tr>

			<tr>
				<td>Financiar, trimestrial</td>
				<td>financial_quarter</td>
				<td>AAAA-[T]T</td>
				<td>2015-T1</td>
			</tr>

			<tr>
				<td>Financiar, semestrial</td>
				<td>financial_half_year</td>
				<td>AAAA-[Se]Se</td>
				<td>2015-Se1</td>
			</tr>
		</tbody>
	</table>

	<ul>
		<li>Data de începere a exercițiului financiar trebuie indicată în metadate</li>
		<li class="hasChild">&nbsp;</li>
		<li>Pentru variabilele de dată și oră:</li>
	</ul>

	<table>
		<thead>
			<tr>
				<th>Tip</th>
				<th>Numele coloanei</th>
				<th>Format</th>
				<th>Exemplu</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Data + ora</td>
				<td>date_time</td>
				<td>AAAA-LL-ZZ[O]hh:mm</td>
				<td>2015-01-01O12:00</td>
			</tr>

			<tr>
				<td></td>
				<td></td>
				<td>sau AAAA-LL-ZZ [O]hh:mm:ss</td>
				<td>2015-01-01O12:00:00</td>
			</tr>

			<tr>
				<td>Doar ora</td>
				<td>time</td>
				<td>hh:mm</td>
				<td>12:00</td>
			</tr>

			<tr>
				<td></td>
				<td></td>
				<td>sau hh:mm:ss</td>
				<td>12:00:00</td>
			</tr>
		</tbody>
	</table>

	<ul>
		<li>Precizați fusul orar dacă nu este UTC +8 ore:</li>
	</ul>

	<table>
		<thead>
			<tr>
				<th>Tip</th>
				<th>Numele coloanei</th>
				<th>Format</th>
				<th>Exemplu</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Data + ora</td>
				<td>date_time</td>
				<td>AAAA-LL-ZZ[O]hh:mm+hh:mm</td>
				<td>2015-01-01O12:00+00:00</td>
			</tr>

			<tr>
				<td></td>
				<td></td>
				<td>sau AAAA-LL-ZZ[O]hh:mm:ss+hh:mm:ss</td>
				<td>2015-01-01O12:00:00+00:00:00</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
