<div class="featured-image">
  <div>
    {% snippet 'home/snippets/search.html' %}
  </div>
</div>

<div class="container">
  <div class="row">
    <ul class="categories">
      {% for group in h.all_groups() %}
      <li>
        <a  href="/group/{{group.name}}" class="category">
          <div class="image-wrapper">
            <img src="{{group.image_display_url}}" alt="">
          </div>
          <div class="text">
            {{group.display_name}}
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>