<div class="featured-image">
  <div>
    {% snippet 'home/snippets/search.html', selected_group=selected_group%}
  </div>
</div>

<div id="categories-container">
  <div class="container">
    <div class="row">
      <ul class="categories">
        {% for group in h.all_groups() %}
        <li>
          <a href="/group-dashboard?g={{group.name}}" class="category {% if group.name == selected_group %}active{% endif %}">
            <div class="image-wrapper">
              <img src="{{group.image_display_url}}" alt="">
            </div>
            <div class="text">
              {{group.display_name}}
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
