{% ckan_extends %}

<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    {% block social %}
        {% include 'social.html' %}
    {% endblock social %}
    <div class="row">
      <div class="col-sm-4 footer-links">
        {% block footer_nav %}
            <strong>Link-uri utile</strong><br/>
            <br/>
            <ul class="list-unstyled">
                {% block footer_links %}
                <li><a href="{{ h.url_for(controller='home', action='about') }}">Termeni și condiții</a></li>
                <li><a href="{{ h.url_for(controller='home', action='about') }}">Politica de confidențialitate</a></li>
                <li><a href="{{ h.url_for(controller='home', action='about') }}">Codul de conduită</a></li>
                <li><a href="https://www.code4.ro/">Code 4 Romania</a></li>
                <li><a href="mailto:contact@code4.ro">Contact</a></li>
                {% endblock %}
            </ul>
        {% endblock %}
        </div>
        <div class="col-sm-4 logo">
        <img src="{{ h.url_for_static('data-portal-logo.png') }}" alt="Data Portal" style="width: 200px; height: 99px;">
        </div>
      <div class="col-sm-4 attribution">
        {% block footer_attribution %}
            <ul class="list-unstyled">
                <li>Abonează-te la newsletter</li>
                <input type="text" value="Introdu adresa de e-mail și apasă ENTER" style="width: 300px; height: 30px;"/>
                <li><img src="{{ h.url_for_static('code-4-romania-logo.png') }}" alt="Code 4 Romania" style="width: 150px; padding: 10px;"></li>
                <li style="font-size: 14px;">&copy; 2019 Code for Romania.<br/>
                Organizație neguvernamentală independentă,<br/>neafiliată politic și apolitică.</li>
            </ul>
        {% endblock %}
        {% block footer_lang %}
          {% snippet "snippets/language_selector.html" %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>