{% include 'social.html' %}
{% ckan_extends %}
<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
      <div class="col-sm-4 footer-links">
        {% block footer_nav %}
            <strong>Link-uri utile</strong><br/>
            <br/>
            <ul class="list-unstyled">
                {% block footer_links %}
                <li>{% link_for _('Termeni și condiții'), named_route="terms-and-conditions" %}</li>
                <li><a href="{{ h.url_for(controller='home', action='about') }}">Politica de confidențialitate</a></li>
                <li><a href="{{ h.url_for(controller='home', action='about') }}">Codul de conduită</a></li>
                <li><a href="https://www.code4.ro/">Code 4 Romania</a></li>
                <li><a href="mailto:contact@code4.ro">Contact</a></li>
                {% endblock %}
            </ul>
        {% endblock %}
        </div>
        <div class="col-sm-4 logo">
        <img src="{{ h.url_for_static('data-portal-logo.png') }}" alt="Data Portal" id="data_portal_logo">
        </div>
      <div class="col-sm-4 attribution">
        {% block footer_attribution %}
            <ul class="list-unstyled">
                <li>Abonează-te la newsletter</li>
                <input type="text" value="Introdu adresa de e-mail și apasă ENTER" id="newsletter"/>
                <li><img src="{{ h.url_for_static('code-4-romania-logo.png') }}" alt="Code 4 Romania" id="code_4_logo"></li>
                <li class="copyright">&copy; 2019 {% if h.current_year != 2019 %}- {{h.current_year}}{% endif %} Code for Romania.<br/>
                Organizație neguvernamentală independentă,<br/>neafiliată politic și apolitică.</li>
            </ul>
        {% endblock %}
        {% block footer_lang %}
          {# snippet "snippets/language_selector.html" #}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>