{% set placeholder = _('Caută date despre orașul tău') %}
<div id="social-footer" class="container-fluid clear-all">
	<div class="social-icons">
		{% if g.facebook_url %}
				<a class="social-button" href="{{g.facebook_url}}" target="_blank"><i class="fa fa-facebook"></i></a>
		{% endif %}

		{% if g.instagram_url %}
				<a class="social-button" href="{{g.instagram_url}}" target="_blank"><i class="fa fa-instagram"></i></a>
		{% endif %}

		{% if g.linkedIn_url %}
				<a class="social-button" href="{{g.linkedIn_url}}" target="_blank"><i class="fa fa-linkedin"></i></a>
		{% endif %}

		{% if g.twitter_url %}
				<a class="social-button" href="{{g.twitter_url}}" target="_blank"><i class="fa fa-twitter"></i></a>
		{% endif %}

		<a class="donate-button" href="https://code4.ro/ro/doneaza/">
			Donează
		</a>
	</div>

	<div id="socialFormWrap">
		<form class="input-group" method="get" action="/dataset">
			<input
				aria-label="{{ placeholder }}"
				id="field-main-search"
				type="text"
				class="form-control"
				name="q"
				autocomplete="off"
				placeholder="{{ placeholder }}" />
			<div class="input-group-btn">
				<button class="btn btn-primary" type="submit">
					<i class="fa fa-search"></i>
					<span class="sr-only">{{ _('Search') }}</span>
				</button>
			</div>
		</form>
	</div>
</div>
