<div class="container-fluid social">
<div class="row">
    <div class="col-md-12">
    	<div class="row">
    		<div class="col-md-4 social-col">
    		</div>
    		<div class="col-md-4 social-col">
    			<div class="input-group">
        			<input type="text" class="form-control" placeholder="Search" id="txtSearch"/>
        				<div class="input-group-btn">
          					<button class="btn btn-primary" type="submit">
            					<i class="fa fa-search"></i>
          					</button>
       					 </div>
      			</div>
    		</div>
    		<div class="col-md-4 social-col">
    			<div class="social-icons">
    				<a class="social-button" href="#"><i class="fa fa-facebook"></i></a>
	    			<a class="social-button" href="#"><i class="fa fa-instagram"></i></a>
	    			<a class="social-button" href="#"><i class="fa fa-linkedin"></i></a>
	    			<a class="social-button" href="#"><i class="fa fa-twitter"></i></a>
	    			<a class="donate-button" href="https://code4.ro/ro/doneaza/">
    				Donează
    			</a>
    			</div>
    		</div>
    	</div>
    </div>
</div>
</div>
