.account-masthead {
	background-color: #000;
	padding: 10px 0;
}

	.account-masthead .account ul li a {
		font-size: 16px;
	}

	.account-masthead .account .notifications a span.badge {
		font-size: 15px;
	}

.masthead {
  background-image: none;;
  background-color: #fff;
  color: #505050;
  z-index: 2;
}

.masthead .logo img {
  height: 100px;
}

@media (min-width: 992px) {
  .masthead .header-image .navbar-left {
    width: 25%;
  }

  .masthead #main-navigation-toggle {
    width: 75%;
    text-align: right;
  }
}

.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
  background-color: #fff;
  color: #000;
  font-family: 'Titillium Web', sans-serif;
  background-color: transparent;
}

.masthead .navigation .nav-pills li {
  float: right;
}

@media (max-width: 767px) {
  .masthead .navigation .nav-pills li {
    float: none;
  }
}

.masthead .navigation .nav-pills li a {
  color: #000;
  background-color: transparent;
  padding: 10px 0 10px 50px;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
  background-color: transparent;
  color: #000;
}

.masthead .section {
  float: none;
}

.masthead .section.navigation {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .masthead .section.navigation {
    float: right;
  }
}

.masthead .section.language {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 12px;
  float: right;
}

  .section.language .lang-dropdown {
    min-width: auto;
    padding: 2px;
    margin-left: -3px;
  }

    .section.language .dropdown-menu > li > a {
      padding: 0;
    }


.masthead .section.partners {
  border-top: 2px solid #eee;
  padding-top: 10px;
}

@media (max-width: 767px) {
  .masthead .section.partners {
    margin: 0 -15px;
    margin-top: 10px;
  }
}

#underNav {
	clear: both;
}

  #citySelector {
    width: 214px;
    float: right;
  }

  @media (max-width: 767px) {
		#citySelector {
			width: 100%;
			margin-top: 10px;
		}
	}

    #citySelector ul {
      width: 100%;
    }

    #citySelector .cities-dropdown-toggle {
      border: 1px solid rgba(33, 64, 154, 0.4);
      border-radius: 3px;
      padding: 10px;
      color: rgba(0, 0, 0, 0.6);
      background-color: #fff;
      font-size: 12px;
      line-height: 28px;
      text-align: center;
      -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
    }

    #citySelector .open .cities-dropdown-toggle,
    #citySelector .cities-dropdown-toggle:hover {
      background-color: #21409A;
      color: #fff;
    }

      #citySelector .cities-dropdown-toggle .icon-wrapper {
        float: right;
        width: 40px;
        height: 29px;
        padding-left: 10px;
        padding-top: 5px;
        border-left: 1px solid rgba(33, 64, 154, 0.4)
      }

        #citySelector .cities-dropdown-toggle .icon-wrapper img {
          width: 100%;
        }

      #citySelector .open .cities-dropdown-toggle .icon-wrapper {
        border-left: 1px solid transparent;
      }

    #citySelector .cities-dropdown-menu {
      width: 100%;
      background-color: transparent;
      box-shadow: none;
      border: none;
      padding: 0;
    }

      #citySelector .cities-dropdown-menu li a {
        padding: 10px 20px;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid rgba(33, 64, 154, 0.4);
        font-size: 12px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
      }

      #citySelector .cities-dropdown-menu li a:hover {
        background-color: #eee;
        color: #000;
      }
