{% ckan_extends %}

{% block styles %}
  {{ super() }}
  {% asset 'dataportaltheme/about_css' %}
{% endblock %}

{% block primary %}
  <div id="aboutLogo">
		<img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" />
	</div>
  <h2>{{_('What Is Data Portal Timişoara')}} </h2>
  <p>
    {{_('Machine-readable information is data in a format that can be understood by a computer. This means that all relevant fields can be extracted and analyzed without a human contribution. Just because a data set is digitally accessible does not necessarily mean it’s computer readable (more information here). In the spirit of open data, data sets are to be provided in unprotected file formats. Tabular data is provided as CSV files or JSON format. The metadata should be excluded from the data files. These will be included in a zip file with the data file (see the package data point below).')}}
  </p>
  <h2>{{_('About The Data Portal Application')}} </h2>
  <p>
    {{_('The purpose of the Data Portal platform is to respond to three open data issues in Romania. First of all, the portal will open the data used in the Code for Romania projects to the general public. They will be accessible and viewed by anyone interested. Second of all, it will define data standards and protocols for datasets published by Code4Romania, which can be implemented by any institution interested in providing public data. Third of all, the platform will provide a starting point for the development of an open data Community in Romania. Through the Data Portal we will provide support (infrastructure, procedures, and know-how) to volunteers that are interested in opening and cleaning up public data in Romania.')}}
  </p>


  <div id="aboutCode4Ro">
    <div id="aboutWrap">
      <div id="logo">
        <img src="code-4-romania-logo-black.png" />
      </div>

      <div id="text">
        <h2>{{_('About Code For Romania')}} </h2>
        <p>
          {{_('Upgrading Romania one app at a time. Code for Romania is an independent, politically independent and apolitical non-governmental organization. Today there are more than 550 members of IT specialists, communication, analysis and design that are developing digital solutions to solve problems of our society. We are building software tools to help increase transparency, open public data, help support education and access to services. We intend through our projects to support all communities, by developing civic applications in all areas where technology can bring a change for everyone’s benefit.')}}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
