{% extends "page_categories.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block styles %}
  {{ super() }}

  {% resource 'dataportaltheme/categories_bar.css' %}
  {% resource 'dataportaltheme/githubfeed.css' %}
{% endblock %}

{% block content %}
  <div class="homepage layout-{{ homepage_style }}">
    <div class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}
        {% snippet "home/layout.html".format(homepage_style) %}
        {% block medium_extension %}
          <div class="container">
            <div class="row row2">
              <div class="col-md-12">
                <h3>MEDIUM</h3>
              </div>
            </div>
          </div>
        {% endblock medium_extension %}
          <div class="main">
            <div class="container">
              <div class="row row2">
                <div class="col-md-12">
                  Implică-te:
                </div>
                {% block github_extension %}
                  <div class="col-md-6">
                    <h3>GITHUB</h3>
                    {% snippet "home/snippets/githubfeed.html" %}
                  </div>
                {% endblock github_extension %}
                <div class="col-md-6">
                    <h3>Vreau sa am un portal de date in orasul meu</h3> 
                </div>
              </div>
            </div>
          </div>
    {% endblock %}
  </div>
{% endblock %}
