{% extends "page_categories.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block styles %}
  {{ super() }}

  {% resource 'dataportaltheme/categories_bar.css' %}
{% endblock %}

{% block content %}
  <div class="homepage layout-{{ homepage_style }}">
    <div class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}
        {% snippet "home/layout.html".format(homepage_style) %}
        {% block social %}
            {% include 'social.html' %}
        {% endblock social %}
    {% endblock %}
  </div>
{% endblock %}
