<div role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Cunoaște-ți orașul:</h3>
      </div>
    </div>

    <div class="row equal">
      {% set all_views = h.get_view_data(selected_group) %}
      {% if all_views %}
        {% for view in all_views %}
        <div class="col-md-6">
          <div class="homePageItem">
            <div class="hpItemTitle">
              <a href="{{view['link']}}">{{ view['name'] }}</a>
            </div>
            <div class="hpItemBody">
              <iframe width="100%" height="285" src="{{ view['url'] }}" frameBorder="0"></iframe>
            </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
    {% if all_views %}
      <div class="row">
        <div class="col-md-12">
          <a href="/dataset?groups={{selected_group}}" class="seeAllLink">{{_('View all datasets')}}</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>
