<div role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Cunoaște-ți orașul:</h3>
      </div>
    </div>

    <div class="row equal">
      {% for view in h.get_view_data() %}
      <div class="col-md-6">
        <div class="homePageItem">
          <div class="hpItemTitle">
            {{ view['name'] }}
          </div>
          <div class="hpItemBody">
            <iframe width="500" height="400" src="{{ view['url'] }}" frameBorder="0"></iframe>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-md-12">
        <a href="#" class="seeAllLink">Vezi toate seturile de date</a>
      </div>
    </div>
  </div>
</div>
