<div role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Cunoaște-ți orașul:</h3>
      </div>
    </div>

    <div class="row equal">
      <div class="col-md-6">
        <div class="homePageItem">
          <div class="hpItemTitle">
            Unități de învățământ pre-universitar
          </div>
          <div class="hpItemBody">
            <img src="/home-dummies/pie.png" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="homePageItem">
          <div class="hpItemTitle">
            Comparative stats on infrastructure expenses 2015-2018
          </div>
          <div class="hpItemBody">
            <img src="/home-dummies/bars.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="row equal">
      <div class="col-md-6">
        <div class="homePageItem">
          <div class="hpItemTitle">
            FESI Report on absorbtion rate of structural and investment European Funds
          </div>
          <div class="hpItemBody">
            <img src="/home-dummies/graph.png" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="homePageItem">
          <div class="hpItemTitle">
            Distribuția teritorială a spitalelor publice - Timișoara
          </div>
          <div class="hpItemBody">
            <img src="/home-dummies/map.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <a href="#" class="seeAllLink">Vezi toate seturile de date</a>
      </div>
    </div>
  </div>
</div>
