<div id="contactForm" class="shadowbox clear-all">
	<h2>Vreau să am un portal de date în orașul meu!</h2>
	<p>
		This is a sample text a call to action for people who want to bring data portal to their own city and they need to drop us an e-mail.
	</p>
	<form action="/contact-form" method="post">
		<input type="email" name="email" value="" placeholder="E-mail" />
		<textarea name="message" placeholder="Scrie-ne aici un mesaj"></textarea>
        <input type="submit" value="Trimite">
	</form>
</div>
