<div id="contactForm" class="shadowbox clearAll">
	<h2>Vreau să am un portal de date în orașul meu!</h2>
	<p>
		This is a sample text a call to action for people who want to bring data portal to their own city and they need to drop us an e-mail.
	</p>
	<form action="index.html" method="post">
		<input type="email" name="email" value="" placeholder="E-mail" />
		<textarea name="message" placeholder="Scrie-ne aici un mesaj"></textarea>
		<a href="javascript:void" class="seeAllLink" onclick="form.submit();">Trimite</a>
	</form>
</div>
